name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: heart-env
          environment-file: gityaml/environment.yaml
          auto-activate-base: false

      - name: Verify environment
        run: |
          conda info
          conda list

      - name: Lint with flake8
        run: |
          flake8 src tests

      - name: Run unit tests
        run: |
          pytest -q

      - name: Run training script
        run: |
          python src/train.py --data_path data/processed/heart_cleaned.csv

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: training-artifacts
          path: |
            outputs/
            mlruns/
            logs/
          if-no-files-found: ignore